@import '_bourbon';

* {
  @include box-sizing(border-box);
}

div[isotope] {
  position: relative;
}

.isotope-block {
  position: absolute;

  .img {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 auto; 
  }

  &.ng-enter{
    opacity: 0;
    @include transform(translateY(1000px));
    @include transition-duration(1s);
    @include transition-timing-function($ease-out-cubic);
    &.ng-enter-active {
      @include transform(translateY(0px));
      opacity: 1;
    }
  }
  &.ng-enter-stagger {
    transition-delay: (0.1s);
  }
  &.ng-leave {
    opacity: 1; 
    @include transform(translateX(0px));
    @include transition-duration(0.5s);
    @include transition-timing-function($ease-in-back);
    &.ng-leave-active {
      opacity: 0;
      @include transform(translateX(-500px));
    }
  }
}
